.container__big-card {

  width: 400px;
  height: 500px;

  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.big-card__title {
  margin-top: 15px;
  font-size: 20px;
}
.big-card__description > p{
  margin-top: 20px;
}

.big-card__description > p > a {
  color: #e3e0b3;
}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
