<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
      alt="placeholder"
      height="200px"
      srcset=""
    />
  </div>

  <div class="big-card__title">
    <h1><a href="/">Saiu a nova versão do angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit
        repellendus, quisquam totam, asperiores vero ratione eaque recusandae id
        veniam veritatis velit atque dolorem corporis quis, nobis numquam
        inventore alias eligendi.
      </a>
    </p>
  </div>
</div>
