.container__small-card {
  width: 700px;
  margin-bottom: 15px;

}

.container__small-card-content {
  display: flex;
}
.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__small-card__separator{
margin-top: 15px;
}
