<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="assets/images/cristal_e_linda.jpg"
      cardTitle="Crystal e Linda dormindo"
      cardDescription="O auge da fofura essas duas gatinhas dormindo na minha cama."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="assets/images/chico.jpg"
      cardTitle="Novo integrante da família está assustado conhecendo a casa nova"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="assets/images/family.jpg"
      cardTitle="Linda e Café dormindo no sofá"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="assets/images/cabeca.jpg"
      cardTitle="Cadê a cabeça da Crystal?"
    ></app-small-card>
  </div>
</div>
